#calculator {
	margin: auto;
	margin-top: 100px;
	height: 400px;
	width: 300px;
	border: 1px solid gray;
	border-radius: 8px;
	background-color: #A8A8A8;
	box-shadow: 10px 10px 5px #888888;
}

#display {
	margin: 7% auto 8% auto;
	width: 88%;
	height: 17%;
	border: 1px solid gray;
	border-radius: 3px;
	background-color: #dbdbdb;
	font-size: 20px;
	box-shadow: inset 2px 2px 1px #939393;
}

.row {
	width: 90%;
	margin: auto;
	margin-top: 5%;
	height: 10%;
	text-align: center;
}

button {
	width: 16%;
	height: 100%;
	background: #656565;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#656565), to(#444));
    background: -moz-linear-gradient(#656565, #444);
    background: linear-gradient(#656565, #444);
    border: solid 1px #535353;
    border-bottom: solid 2px #414141;
    box-shadow: 2px 2px 1px #939393;
	border-radius: 50%;
    margin-left: 1%;
	margin-right: 1%;
	font-weight: bold;
	font-size: 20px;
	color: white;
	outline:none;
	}
    
button:hover {
    background: #4c4c4c;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4c4c4c), to(#565656));
    background: -moz-linear-gradient(#4c4c4c, #565656);
    background: linear-gradient(#4c4c4c, #565656);
    border: solid 1px #464646;
}
    
button:active {
    background: #474747;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#474747), to(#444));
    background: -moz-linear-gradient(#474747, #444);
    background: linear-gradient(#474747, #444);
    border: solid 1px #2f2f2f; 
}

